:host {
	--theme-background: #e2eaf1;

	/* ================
     SDS Styling API (Globals)
     ================= */

	/* Globals */
	--lwc-font-family: "Salesforce Sans", Arial, sans-serif;
	--lwc-brand-accessible: #0070d2;

	/* Button Component */
	--lwc-c-button-line-height: 1.25;
	--lwc-c-button-padding: 0.625rem 1rem;
	--lwc-c-button-font-size: .875rem;
	--lwc-c-button-font-weight: bold;
	--lwc-c-button-neutral-shadow: 0 1px 0 #e2e2e2;
	--lwc-c-button-brand-shadow: 0 1px 0 #004786;

	/* Card Component */
	--lwc-c-card-padding: 0;
	--lwc-c-card-radius: 4px;
	--lwc-c-card-shadow: #0000000f 0px 1px 3px 1px;
	--lwc-c-card-border-width: 0;
	--lwc-c-card-title-font-size: 1.15rem;
	--lwc-c-card-title-line-height: 1.3;
	--lwc-c-card-title-white-space: wrap;
	--lwc-c-card-header-spacing-vertical-end: 1rem;
	--lwc-c-card-footer-text-align: left;
	--lwc-c-card-footer-spacing-horizontal-start: 1.5rem;
	--lwc-c-card-footer-spacing-horizontal-end: 1.5rem;
	--lwc-c-card-footer-spacing-vertical-end: 1.5rem;

	/* ================
     Trailhead Styling API
		 ================= */

	/* Default padding for all Trailhead Card */
	--th-c-card-content-padding: 1.5rem;
	/* Default border chunk for Trail Card */
	--th-c-trail-card-color-border: #087AAA;
}
